body 
{
 margin : 60px;
 padding : 50px;
 margin-left: 500px;
 background-image: linear-gradient(rgb(29, 154, 170), rgb(1, 158, 72));
 background-size: 100%;
}

h2 
{
    font-size: 70px;
    font-family: 'Baloo 2', cursive;
    color: white;
    margin-left: 5px;
}

.placeholder_course
{
    width: 500px;
    height: 70px;
    font-size: 32px;
    margin-right: 300px;
    font-family: 'Shadows Into Light', cursive;
    color :black;
    text-align: center;
    border: none;
}

.bouton_ajouter
{
font-size: 32px;
margin-left: 160px;
width: 170px;
height: 60px;
background-color: rgb(17, 212, 212);
color: white;
font-family: 'Baloo 2', cursive;
border: none;
}

.bouton_ajouter:hover 
{
    background-color: rgb(22, 211, 148);
    cursor: pointer;
    border: none;
}

.prix_global 
{
    width: 50px;
    height: 20px;
    border: none;
}

.titre_achat
{
    font-size: 40px;
    color: white;
    font-family: 'Shadows Into Light', cursive;
}

.button_list
{

width: 90px;
height: 30px;
border: none;
}

.bouton_ajouter_quant
{
font-size: 32px;
margin-left: 60px;
width: 170px;
height: 60px;
background-color: rgb(17, 212, 212);
color: white;
font-family: 'Baloo 2', cursive;
border: none;
}

.bouton_ajouter_quant:hover
{
    background-color: rgb(61, 207, 17);
    cursor: pointer;
    border: none;
}


.bouton_supprimer
{
font-size: 32px;

width: 170px;
height: 60px;
background-color: rgb(17, 212, 212);
color: white;
font-family: 'Baloo 2', cursive;
border: none;
}

.boutons_all
{
    margin-left: 190px;
    
}

.bouton_supprimer:hover
{
    background-color: rgb(201, 21, 21);
    cursor: pointer;
    border: none;
}



hr
{
    margin-left: -200px;
    width: 800px;
}